---
import Layout from "../layouts/Layout.astro"
import { SignIn ,UserButton } from "@clerk/astro/components";
import HistoricalIndex from "../Routes/HistoricalIndex/Historicalndex";
import RewritePeriodsTable from "../components/react/Table/RewritePeriod";
const  user = await Astro.locals.currentUser();
if (!user){
    return new Response("Unauthorized", { status: 401 })
}

---
<Layout title="Tabla de contenido">
    <main class="h-full p-2 flex flex-col gap-2 ">
		<header class="flex justify-between  h-[60px] py-2 px-4 rounded-xl bg-[linear-gradient(180deg,rgba(249,249,249,0.15)_0%,rgba(249,249,249,0.03)_100%)] shadow-[5px_5px_10px_0px_#0000001a]">
			<img src="assets/tomateLogo.svg" class="w-[160px]" alt="">
			<UserButton showName/>
		</header>
		 <RewritePeriodsTable client:visible />
	 </main>
</Layout>


