---
import Layout from "../layouts/Layout.astro"
import { SignIn ,UserButton } from "@clerk/astro/components";
const  user = await Astro.locals.currentUser();
if (!user){
    return new Response("Unauthorized", { status: 401 })
}

// if(auth){
//     console.log(auth)
// }
// if(user){
//     console.log(user)
// }
/* aca traeremos la data, en este caso  los futuros REWRITES PERIODS */
---
<Layout title="Tabla de contenido">
    <UserButton showName/>
    <h1>Aca empezamos con las tablas
    <p>aca ira la tabla de contenido</p></h1>
</Layout>


