---
import { SignedIn, SignedOut, SignInButton, UserButton } from '@clerk/astro/components';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
const user = await Astro.locals.currentUser();
---
<Layout title="Iniciar sesion">
		<SignedOut>
			<header class="flex justify-end py-4 px-8">
				<SignInButton/>
			</header>

		</SignedOut>
	  <SignedIn>
			<div class="p-4rounded-xl w-1/2 mx-auto h-1/2 flex flex-col justify-center items-center gap-8">
				<img src="assets/tomateLogo.svg" class="w-[400px]" alt="" />
				<h1 class="-mt-6 text-2xl">Historial de ventas</h1>
				<UserButton  />
				<p>Hola de nuevo! {user?.firstName} Puedes <a href="/historical" class="underline font-semibold" >Ir al panel de ventas</a></p>
			  </div>
	  </SignedIn>
	 <SignedOut>
		<div class="p-4rounded-xl w-1/2 mx-auto h-1/2 flex flex-col justify-center items-center gap-8">
			<img src="assets/tomateLogo.svg" class="w-[400px]" alt="" />
			<h1 class="-mt-6 text-2xl">Historial de ventas</h1>
			<a href="/historical" class="bg-red-800 text-white px-4 py-2 rounded">Iniciar sesion</a>
		  </div>
	 </SignedOut>
</Layout>