---
import { SignedIn, SignedOut, SignInButton, UserButton } from '@clerk/astro/components';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Iniciar sesion">
	<SignedOut>
		<SignInButton mode="modal" />
	  </SignedOut>
	  <SignedIn>
		<UserButton showName />
		<a href="/historical">ir al panel de contenido</a>
	  </SignedIn>
</Layout>