---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Iniciar sesion">
	<div class="p-6 border-2 border-black rounded h-full w-full flex items-center justify-center">
		<div class="border-2 border-white rounded w-[600px] h-[800px] flex items-center justify-center">
			<button class="bg-blue-400 p-2 rounded hover:opacity-80 transition">Iniciar sesion</button>
		</div>
	</div>
</Layout>